        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                
                <img src="{{plan.img}}" class="img-responsive" alt="Image">
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p>{{plan.descripcion}}</p>
                <p>Ingresos entre {{plan.ingresoMin}} a {{plan.ingreso.Max}} <strong>SALARIOS MÍNIMOS VITAL Y MÓVIL</strong> </p>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                
            </div>
            
            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
                    
            </div>
        </div>
        
        
        <div class="row">
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                <button type="button" class="btn btn-lg btn-success btn-block" onclick="printJS('{{plan.doc}}')">Imprimir requisitos</button>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                
            </div>
            
        </div>

